button {
  outline: 0;
  border: 0;
  text-transform: uppercase;
  border-radius: 24px;
  font-family: sans-serif;
  font-weight: bold;
  cursor: pointer;
  transition: all ease-in .2s;
}

button.small {
  padding: 8px 24px;
  font-size: 12px;
}

button.medium {
  padding: 16px 48px;
  font-size: 14px;
}

button.large {
  padding: 20px 64px;
  font-size: 16px;
}

button.success {
  background-color: #2E933C;
  color: white;
}

button.success:hover {
  background-color: #4bdf80;
}

button.error {
  background-color: #e71d36;
  color: #fff;
}

button.error:hover {
  background-color: #f94144;
  color: white;
}

button:disabled, button[disabled]:hover {
  background-color: lightgray;
  cursor: not-allowed;

}